.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #565454;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-size: 16px;
}

.menu a:hover {
  text-decoration: underline;
}

.content {
  display: flex;
  flex: 1;
  margin-top: 60px;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: #cfcfcf;
  padding: 20px;
  position: fixed;
  top: 80px;
  overflow-y: auto;
  bottom: 60px;
  box-shadow: 2px 0 5px ;
}

.main{
  flex: 1;
  margin-left: 240px;
  margin-bottom: 60px;
  padding: 20px;
  background-color: #fff;
  box-shadow:0 0 5px ;
  bottom: 60px;
  overflow-y: auto;
}

.footer {
  background-color: #3b3b3b;
  color: white;
  text-align: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}


/* /////////////////////////////// */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #cacaca;
  border-radius: 8px;
  box-shadow: 0 1px 2px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 200px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  flex-grow: 1;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

.card-description {
  flex-grow: 1;
  font-size: 14px;
  margin-bottom: 20px;
  color: #6b6868;
  word-break: break-word;
  overflow-wrap: break-word;
}

.card-button {
  align-self: flex-start;
  padding: 10px 15px;
  background-color: #202020;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

